<table class="table">
  <thead>
    <th><%= TrendScout::Scout.human_attribute_name(:name) %></th>
    <th><%= TrendScout::Scout.human_attribute_name(:type) %></th>
    <th><%= TrendScout::Scout.human_attribute_name(:last_run_at) %></th>
    <th><%= TrendScout::Scout.human_attribute_name(:last_status) %></th>
    <th><%= TrendScout::Scout.human_attribute_name(:last_value) %></th>
    <th></th>
  </thead>

  <tbody>
    <% @scouts.each do |scout| %>
      <tr>
        <td><%= link_to scout.name, scout_path(scout) %></td>
        <td><%= scout.type %></td>
        <td><%= scout.last_run_at %></td>
        <td><%= scout.last_status %></td>
        <td><code><%= scout.last_value %></code></td>
        <td>
          <%= link_to 'Edit', edit_scout_path(scout) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
